// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
// AOS
@import '../../node_modules/aos/dist/aos.css';
// tns
@import '../../node_modules/tiny-slider/dist/tiny-slider.css';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_menu";

@import "_header";
@import "_footer";

*{
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $main_font;
  font-size: 12px;
  background-color: $color_01;
  color: $color_02;
  line-height: 1.4;
  min-width: 360px;
  width: 100%;
  overflow-x: hidden;
  @media (min-width: 768px) {
    font-size: 14px;
  }
  main {
    flex: 1 0 auto;
  }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  margin: 0;
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 1200px) {
    font-size: 38px;
  }
}

h1, h2, h3 {
  font-weight: 400;
}

h1, h2 {
  margin: 0 0 15px 0;
  @media (min-width: 768px) {
    margin: 0 0 45px 0;
    font-size: 52px;
  }
  @media (min-width: 1200px) {
    font-size: 78px;
  }
}

.text-center {
  text-align: center;
}

.button {
  display: block;
  border: none;
  cursor: pointer;
  padding: 5px 30px;
  line-height: 1;
  color: $color_01;
  background-color: $color_02;
  border-radius: 23px;
  font-size: 12px;
  @media (min-width: 576px) {
    padding: 16px 30px;
    font-size: 14px;
    br {
      display: none;
    }
  }
}

.paralax_image {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
}

.text_block {
  h3 {
    line-height: 1.2;
    margin-bottom: 10px;
    @media (min-width: 992px) {
      margin-bottom: 20px;
    }
  }
  p {
    margin: 0;
    & + p {
      margin-top: 10px;
      @media (min-width: 992px) {
        margin-top: 15px;
      }
    }
  }
}

.middle_text {
  @media (min-width: 992px) {
    margin-top: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}

section {
  padding: $output_vertical__mobile 0;
  @media (min-width: 992px) {
    padding: $output_vertical__md 0;
  }
  @media (min-width: 1200px) {
    padding: $output_vertical 0;
  }
  &.dark_section {
    background-color: $color_02;
    color: $color_01;
  }
}

#section_1 {
  .offer {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    @media (min-width: 992px) {
      margin-top: 70px;
    }
    @media (min-width: 1200px) {
      margin-top: 110px;
    }
  }
}

#section_about {
  .text_block {
    margin-top: 15px;
    @media (min-width: 992px) {
      margin-top: 0;
    }
  }
}

#section_portfolio {
  .paralax_image {
    height: 140px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    @media (min-width: 768px) {
      height: auto;
      img {
        height: auto;
      }
    }
  }

  .portfolio_item{
    margin-top: 15px;
    @media (min-width: 768px) {
      margin-top: 0;
      .text_block {
        margin-top: 20px;
      }
    }
  }
  .portfolio_big_item {
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  .portfolio_list {
    & > div:nth-child(odd) {
      .row {
        flex-direction: row-reverse;
      }
    }
  }
}

.services {
  margin: 0;
  padding: 0;
  &__item {
    padding: 10px 0;
    list-style: none;
    border-top: 1px solid $color_02;
    &:last-child {
      border-bottom: 1px solid $color_02;
    }
    @media (min-width: 992px) {
      padding: 25px 0;
    }
  }
}

.partner {
  position: relative;
  height: 50px;
  margin: 10px 0;
  @media (min-width: 992px) {
    height: 100px;
    margin: 20px 0;
  }
  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

#section_reviews {
  .tns-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    button {
      display: block;
      background-color: initial;
      border: 0;
      margin: 0;
      padding: 0;
      font-size: 0;
      width: 94px;
      height: 48px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
      &:disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }
    button[data-controls="prev"] {
      background-image: url('@img/arrow_left.svg');
    }
    button[data-controls="next"] {
      background-image: url('@img/arrow_right.svg');
    }
  }
  .review {
    margin: 20px;
    position: relative;
    overflow: hidden;
    * {
      display: block;
      width: 100%;
    }
  }
}

#section_map {
  padding-left: 20px;
  padding-right: 20px;
  .map {
    overflow: hidden;
    position: relative;
    filter: grayscale(1);
    iframe {
      display: block;
      @media (min-width: 992px) {
        height: 540px;
      }
    }
  }
}